src/test/resources/datasets/schema.dtd

<!ELEMENT dataset (
    A*,
    B*,
    C*,
    ITEM*)>

<!ELEMENT A EMPTY>
<!ATTLIST A
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
>

<!ELEMENT B EMPTY>
<!ATTLIST B
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    A_ID CDATA #REQUIRED
>

<!ELEMENT C EMPTY>
<!ATTLIST C
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    B_ID CDATA #REQUIRED
>

<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
    ID CDATA #IMPLIED
    COUNT CDATA #REQUIRED
    DATE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

